.product__image{
    object-fit: contain;
    max-width: 300px;
}

.pxxxx{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data{
    min-width: 300px;
    min-height: 200px;
}

@media screen and (max-width: 960px) {
  .pxxxx{
      flex-direction: column;
  }
  }
  